<div class="parent">

    <div class="left">
        <h1>MY WEBSITE</h1>
        <hr>
        <h3 routerLink="home">Home</h3>
        <h3 routerLink="about">About</h3>
        <h3 routerLink="data-binding">Data Binding</h3>
        <h3 routerLink="calculator">Calculator</h3>
        <h3 routerLink="directives">Directives</h3>
        <h3 routerLink="marks">Marks</h3>
        <h3 routerLink="products">Products</h3>
        <h3 routerLink="vehicle">Vehicle</h3>
        <h3 routerLink="create-vehicle">Create Vehicle</h3>
        <h3 routerLink="create-user">Create User</h3>
        <h3 routerLink="parent">Parent</h3>
        <h3 routerLink="siblings">siblings</h3>
        <h3 routerLink="about-company">About company</h3>
        <h3 routerLink="contact/contact-company">contact company</h3>
        <button class="logout" (click)="logout()">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>

</div>